<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERN_CRUD</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
     <script src="https://cdn.tailwindcss.com"></script>
</head>
<body> 
    <div class="w-full h-full bg-zinc-900 px-10 pt-20 text-white">
       <div class="flex items-center justify-between">
    <h1 class="text-3xl tracking-tighter">All Users</h1>
    <a href="/" class="nav bg-blue-500 text-white text-xl px-6 py-2 rounded-lg hover:bg-blue-600 transition">Create User</a>
     </div>
     <div class="users flex mt-2 gap-5 flex-wrap">
        <% users.forEach(function(user){%>
             <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
            <div class="w-full h-52 bg-zinc-500 rounded-lg overflow-hidden">
                <img class="w-full h-full object-cover" src="<%= user.image %>" alt="">
            </div>
            <h3 class="text-xl tracking-tighter mt-2 text-center"><%= user.name %></h3>
            <h5 class="text-zinc-500 text-center"><%= user.email %></h5>

            <div class="flex justify-center gap-2 mt-4">
                <a href="/edit/<%= user._id %>" class="bg-green-500 p-3 rounded-lg hover:bg-green-600 transition">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2v-5m-10-7l7 7m0 0l-7-7m7 7V5" /></svg></a>

                 <a href="/delete/<%= user._id %>" class="bg-red-500 p-3 rounded-lg hover:bg-red-600 transition" title="Delete User">
                 <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"d="M6 18L18 6M6 6l12 12" /></svg></a>
            </div>
        </div>
        <% }) %>
           
     </div>
    </div> 
</body>
</html>